<header class="page-header">
  <h1>Joydrive</h1>
  <p>
    Buy a car online, get it delivered to your home, and skip the hassle of a
    dealership.
  </p>
</header>

<p>
  Joydrive was started by a veteran on the banking and automotive industries. He
  saw an opening in the market for an online car sales platform for trusted and
  elite dealerships.
</p>
<p>
  Similar models exist where all of the vehicles are owned by the operating
  company, but this turns it on its head by building out an online marketplace
  where the vehicles are owned by individual dealers. The whole the transaction
  is facilitated online through one common, unified experience.
</p>
<p>
  The car industry was new to our team, and there was a ton of industry jargon
  getting thrown around. So, like most projects at thoughtbot, we started with a
  product design sprint which I facilitated.
</p>
<p>
  Day one, Understand, was spent learning the domain. This covered a wealth of
  existing research, learning about pricing models, interviewing experts, and
  walking through the normal customer journey.
</p>
<a href="/images/projects/joydrive/whiteboarding.png" class="project-image">
  <img src="/images/projects/joydrive/whiteboarding.png" alt="Photo of various whiteboarding sessions">
</a>
<p>
  (Swanky glass whiteboards don't make for very clear photos.)
</p>
<p>
  Day two, Divergent Thinking, was spent running through some creative exercises
  for solution generation. Things like
  <a href="https://github.com/thoughtbot/design-sprint/blob/master/Exercises/crazy-eights.md">crazy eights</a>
  and
  <a href="https://github.com/thoughtbot/design-sprint/blob/master/Exercises/storyboards.md">storyboarding</a>
  got us some fresh perspectives on the problem, and more importantly, got
  everyone participating in the design process.
</p>
<a href="/images/projects/joydrive/storyboards.png" class="project-image">
  <img src="/images/projects/joydrive/storyboards.png" alt="Photo of storyboard sketches">
</a>
<p>
  We spent day three, Converge, reviewing all of our design artifacts, Risks and
  Assumptions, How Might We's, and dug deeper into the problem and domain. We
  settled on a testing plan to help validate some of our asssumptions.
</p>
<p>
  The prototype was a straightforward, one day attempt at capturing the bulk of
  the "happy-path" customer journey. It was mostly helpful in providing a
  framework to talk to customers in testing the following day. It also made
  everything a little more concrete, which makes discsussion with the team, and
  especially non-technical stakeholders easier. This particular prototype was a
  handful of quick Sketch mockups, wired together in Invision.
</p>
<a href="https://invis.io/9C8ERZZUX#/183993496_Home_Page" class="project-image">
  <img src="/images/projects/joydrive/invision.png" alt="The first prototype">
</a>
<p>
  We carved out an MVP with a light dealer back-end to let our test dealership
  pilot an online version of their store. We slowly built outwards based on
  their needs, and eventually added more stores.
</p>
<a href="/images/projects/joydrive/index_1x.png" class="project-image">
  <img src="/images/projects/joydrive/index.png" alt="Screenshot of vehicle index">
</a>
<p>
  A year later, the site's pretty different than the original sprint imagined.
  (There have been three other sprints since, for specific problems like dealer
  management and increasing deposits.) One of our quickest realizations was the
  importance of trade-ins, something we initially planned on punting on.
  Customer interviews and feedback told us that many people wouldn't even
  consider buying a car unless they knew what they'd get back on their trade-in
  first, so that was heavily prioritized.
</p>
<a href="/images/projects/joydrive/vdp_1x.png" class="project-image">
  <img src="/images/projects/joydrive/vdp.png" alt="Screenshot of customer's vehicle show page">
</a>
<p>
  Another pretty radical change was removing the need for a $500 deposit before
  you could talk to a dealer. We were imagining that we could offload a lot of
  that communication into the app, but for many customers, being able to ask
  someone questions about the history of a vehicle goes a long way in their
  purchasing decision.
</p>
<a href="/images/projects/joydrive/contact-info_1x.png" class="project-image">
  <img src="/images/projects/joydrive/contact-info.png" alt="Screenshot of new contact info page">
</a>
<p>
  The word "disrupt" gets a lot of flak, but it has been fun working on a
  project that has the potention to disrupt its industry. It's a new model and
  new experience, and I'm excited to see where it goes.
</p>
<a href="/images/projects/joydrive/customer-deal_1x.png" class="project-image">
  <img src="/images/projects/joydrive/customer-deal.png" alt="Screenshot of the customer's deal page">
</a>
<p>
  Though I was the primary designer for most of this project, several other
  thoughbot designers have had a large contribution, most recently Stephen
  Lindberg and Brenda Storer.
</p>
