<header class="page-header">
  <h1>Miscellaneous Projects</h1>
  <p>
    thoughtbot generously gives employees Fridays to work on investment
    projects, to improve ourselves, our company, and our community.
  </p>
</header>

<ul class="projects-list">
  <li class="projects-item">
    <h2 class="section-title">Headquarters</h2>
    <img src="/images/projects/miscellaneous/headquarters-everything.png" alt="Screenshot of Headquarters project page">
    <img src="/images/projects/miscellaneous/headquarters-show.png" alt="Screenshot of Headquarters task page">
    <p>
      Headquarters was built mostly as an excuse to learn Ember.js. We'd been
      using Trello for project management, but desired something a little more
      opinionated, that would also better handle discussion.
    </p>
    <p>
      We scrapped it in the end due to lack of adoption within the company. The
      benefits were outweighed by the friction and inconvenience of moving to a
      new tool, and difficulty integrating into exisitng onboarding workflows.
    </p>
  </li>

  <li class="projects-item">
    <h2 class="section-title">Search</h2>
    <img src="/images/projects/miscellaneous/search-results.png" alt="Mockup of Search's results page">
    <img src="/images/projects/miscellaneous/search-services.png" alt="Mockup of Search's services configuration page">
    <p>
      Some of thoughtbot's documentation is scattered across public and private
      repositories, and various other third party applications. It can be hard
      to know where to look for something, especially as a new employee. Search
      was built to centralize that knowledge with the ability to search across
      the multiple sources. These screenshots are of mockups designing some
      visual refinements.
    </p>
  </li>

  <li class="projects-item">
    <h2 class="section-title">Pester</h2>
    <img src="/images/projects/miscellaneous/pester-index.png" alt="Screenshot of Pester's index page">
    <img src="/images/projects/miscellaneous/pester-setup.png" alt="Screenshot of Peter's setup instructions page">
    <p>
      Pester was a quick holiday hackathon project. Working in a small studio
      with sometimes distributed teams meant it was often hard to get pull
      requests reviewed. Pester (renamed from Beggar after realizing it was a
      little insensitive) pipes feedback requests into appropriate Slack
      channels, based on some preconfigured tags and the contents of a PR.
    </p>
  </li>


  <li class="projects-item">
    <h2 class="section-title">Elixir Services page</h2>
    <img src="/images/projects/miscellaneous/elixir.png" alt="Screenshot of the Elixir services page on thoughtbot.com">
    <p>
      thoughtbot's website lists our various technologies and services, and has
      a stylized page dedicated to each. We've been doing an increasing amount
      of Phoenix and Elixir work in the past couple of years. This was a fun
      project to flex some visual design muscles and build our audience and
      Google juice.
    </p>
  </li>

  <li class="projects-item">
    <h2 class="section-title">Triangle Designers</h2>
    <img src="/images/projects/miscellaneous/triangle-designers.png" alt="Screenshot of the sign up form for the Triangle Designers Slack community">
    <p>
      Triangle Designers is a Slack community for designers in North Carolina's
      Triangle region. This was a quick one-pager to help with the signup
      process, pulling in symbols from our state and cities.
    </p>
  </li>
</ul>
