<header class="page-header">
  <h1>Pickup</h1>
  <p>
    Keeping students safe.
  </p>
</header>

<p>
  Pickup is a side project that a developer colleague and I are working on in
  our spare time. It's a work in progress. His wife was in charge of the carpool
  line at the elementary school she worked at, and it was chaotic. They had half
  an hour to dismiss 300 students, and used a hand-written log of students and
  their drivers.
</p>
<p>
  She realized that the problem went way beyond ineffiency when they couldn't
  track a student who was caught up in a custody battle. They needed a system
  to keep students accounted for.
</p>
<img src="/images/projects/pickup/homepage.png" alt="Homepage screenshot">
<img src="/images/projects/pickup/devices.png" alt="Responsive mobile screenshot">
<p>
  We started by visiting the school, observing the dismissal process, and
  interviewing the folks that facilitate it. We determined there were three
  roles, which we named the Lookout, Announcer, and Usher.
</p>
<p>
  We built out a pretty lean MVP and got the school using it right away. We
  started with the crux of the app (a student-driver association, and announcing
  arrivals as they came), and then slowly built outwards.
</p>
<img src="/images/projects/pickup/gym.jpg" alt="Students waiting for carpool">
<img src="/images/projects/pickup/driver-show.png" alt="Screenshot of driver show page">
<img src="/images/projects/pickup/hangtag-show.png" alt="Screenshot of hangtag show page">
<p>
  There were a few usability and process quirks along the way that we were able
  to quickly identify because the school started using the app so early into
  development. It was such a success for both safety and efficiency that we
  started talking to other schools to learn about their dismissal process and
  evaluate how it can fit into their workflows.
</p>
