<header class="page-header">
  <h1>Quicky Forecast</h1>
  <p>
    Painless sales forecasting.
  </p>
</header>

<p>
  Two career salesmen had had frustrations with tools getting in the way of
  sales forecasting. They hired thoughtbot to build a lightweight app that could
  improve the experience.
</p>
<img src="/images/projects/quicky-forecast/homepage.png" alt="Screenshot of homepage">
<p>
  Sales tools that focus more on measurement than progress and quality don’t
  help people do their jobs. CRMs are overpriced and overly complex, and give
  sales people the means to disguise their actual progress. Generating a sales
  forecast is often a recurring weekly/monthly/quarterly task, rather than
  something that is always prepared and available for your team.
</p>
<p>
  We built a lightweight tool that has a laser focus on forecasting
  opportunities. There’s no fiddling, and there are no surprises. The featured
  five-quarter rolling forecast chart is always up to date, and lets everyone
  know the team’s progress at a glance.
</p>
<img src="/images/projects/quicky-forecast/index.png" alt="Screenshot of opportunities index">
<p>
  Quicky Forecast is live at
  <a href="https://quickyforecast.com">quickyforecast.com</a>. The biggest
  challenge was in prioritizing features, as many were inter-related, providing
  auxiliary benefits. In the end, we decided to primarily focus on streamlining
  the critical path, designing a rich interactive interface for different ways
  of viewing data, and nailing the chart (which was a large part of the value
  proposition). They have people actively using the product, and now have the
  context to determine which additional features are most critical to long-term
  success.
</p>
<img src="/images/projects/quicky-forecast/show.png" alt="Screenshot of opportunity">
