.articles {
  grid-column: 1 / -1;
}

.article {
  @include padding($base-spacing null $section-spacing);
  border-top: 1px dotted rgba($base-font-color, 0.25);

  @media (min-width: $layout-breakpoint) {
    display: grid;
    grid-column-gap: $base-spacing;
    grid-template-columns: minmax(10em, 20%) minmax(30em, 2fr) 1fr;
  }
}

.article__header {
  grid-column: 1;
}

.article__body {
  grid-column: 2;
  min-width: 0;
}

.article__meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.625em;
  justify-content: space-between;
  letter-spacing: 0.125em;
  margin-bottom: $base-spacing * 2;
  opacity: 0.75;
  text-transform: uppercase;
}

.article__meta-item {
  align-items: center;
  display: flex;
  line-height: 2;
  white-space: nowrap;

  &:first-child {
    margin-right: 3em;
  }
}

.article__meta-icon {
  @include size(1.25em);
  margin-right: 0.5em;
  opacity: 0.9;
}

.article__title {
  font-size: 1em;
  letter-spacing: 0;
  text-transform: none;
}
