.article {
  @include padding(3em null);
  border-top: 1px dotted rgba($base-font-color, 0.25);
}

.article__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
}

.article__meta-item {
  align-items: center;
  display: flex;
  line-height: 2;
  white-space: nowrap;

  &:first-child {
    margin-right: 3em;
  }
}

.article__meta-icon {
  @include size(1.25em);
  margin-right: 0.5em;
  opacity: 0.9;
}

.article__title {
  font-size: 1.75em;
}
