.container {
  @include margin(null auto);
  padding: $base-spacing;
  max-width: 72em;

  @media (min-width: $layout-breakpoint) {
    display: grid;
    grid-column-gap: $base-spacing;
    grid-template-columns: minmax(10em, 20%) minmax(30em, 2fr) 1fr;
  }

  @media (min-width: 900px) {
    padding: $base-spacing * 2;
  }
}
