.container {
  @include margin(null auto);
  max-width: 66em;

  @media (min-width: $layout-breakpoint) {
    display: grid;
    grid-column-gap: $base-spacing;
    grid-template-columns: minmax(10em, 20%) minmax(30em, 2fr) 1fr;
  }
}
