.projects {
  .project-image,
  img {
    @include margin($base-spacing null);
    grid-column: 2 / span 2;
  }

  p {
    grid-column: 2;
    margin-bottom: 1em;
  }
}

.projects-list {
  grid-column: 1 / -1;
}

.projects-item {
  @media (min-width: $layout-breakpoint) {
    display: grid;
    grid-column-gap: $base-spacing;
    grid-template-columns: minmax(10em, 20%) minmax(30em, 2fr) 1fr;
  }

  &:not(:last-child) {
    margin-bottom: $base-spacing * 2;
  }

  .section-title + img {
    margin-top: 0;
  }
}
