.site-nav {
  grid-column: 1 / -1;
  margin-bottom: $section-spacing;
}

.site-nav__list {
  display: grid;
  grid-column-gap: $base-spacing;
  grid-template-columns: 1fr auto auto;

  @media (min-width: $layout-breakpoint) {
    grid-template-columns: minmax(10em, 20%) auto 1fr;
  }
}
