.site-header {
  align-items: center;
  display: flex;
  margin-bottom: 3em;

  @media (max-width: $layout-breakpoint - 1px) {
    flex-wrap: wrap;
  }
}

.site-header__title {
  @media (max-width: $layout-breakpoint - 1px) {
    margin-top: 2em;
    order: 3;
    width: 100%;
  }
}
