.talks {
  grid-column: 2;
  margin-bottom: $section-spacing;
}

.talk {
  margin-bottom: $base-spacing;
}

.talk__title {
  margin-bottom: 0;
}

.talk__description {
  margin-bottom: 0.4em;
}

.talk__location {
  font-size: $small-font-size;
  opacity: 0.625;
  font-style: italic;
}
