html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  @include padding(4.5em null 3em);
  border-top: 3px solid $minsk;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 0.875em;
  line-height: 1.6;

  @media (min-width: 30em) {
    font-size: 1em;
  }

  @media (min-width: 40em) {
    font-size: 1.125em;
  }

  @media (min-width: 60em) {
    font-size: 1.25em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
}

a {
  color: $action-color;
  transition: color 0.15s ease-in;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

h1 {
  color: $minsk;
  font-family: $heading-font-family;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1.5em;
}

h2 {
  color: $purple;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
