*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $body-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: 1.5;

  @media (min-width: 900px) {
    font-size: 1.125em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 1.5em;
  margin-bottom: $base-spacing / 2;
}

h2 {
  color: $heading-font-color;
  font-size: 0.75em;
  letter-spacing: 0.125em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
  margin-bottom: $base-spacing / 4;
}

a {
  color: inherit;

  &:hover {
    color: $action-color;
  }
}

p {
  line-height: 1.6;
  margin: 0 0 1em;
}

pre {
  background-color: shade($body-background-color, 15%);
  border-radius: $base-border-radius;
  color: #fff;
  font-size: $small-font-size;
  overflow-x: auto;
  padding: 1em;
}
