*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $body-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 0.8em;
  line-height: 1.6;
  padding: 2.5em;

  @media (min-width: 32em) {
    border: 1em solid tint($body-background-color, 25%);
  }

  @media (min-width: 48em) {
    padding: 6em;
  }

  @media (min-width: 91em) {
    font-size: 1em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.375em;
  margin-bottom: 0.5em;
}

a {
  color: inherit;

  &:hover {
    color: $action-color;
  }
}

p {
  font-size: 1.25em;
  line-height: 1.75;
  margin: 0 0 1em;
}

pre {
  background-color: tint($body-background-color, 10%);
  border-radius: $base-border-radius;
  border: 1px solid rgba($base-font-color, 0.1);
  font-size: 1.25em;
  overflow: auto;
  padding: 1em;
}
