// Spacing
$base-line-height: 1.6;
$base-spacing: $base-line-height * 1em;
$section-spacing: $base-line-height * 3em;

// Fonts
$base-font-family: "interface", $font-stack-system;

// Colors
$dark-gray: #333;
$blue: #0078ff;
$alabaster: #f5f6f7;

$body-background-color: $alabaster;
$action-color: $blue;
$base-font-color: mix($body-background-color, $dark-gray, 10%);

// Other Sizes
$base-border-radius: 3px;

// Breakpoints
$layout-breakpoint: 720px;
$wide-layout-breakpoint: 900px;
