// Spacing
$base-line-height: 1.6;
$base-spacing: $base-line-height * 1em;
$section-spacing: $base-line-height * 3em;

// Font Families
$base-font-family: $font-stack-georgia;
$heading-font-family: $font-stack-system;

// Font Sizes
$small-font-size: 0.875em;

// Colors
$body-background-color: #314551;
$base-font-color: tint(#bdbaaa, 35%);
$heading-font-color: #a87a6c;
$action-color: #dd7186;

// Other Sizes
$base-border-radius: 3px;

// Breakpoints
$layout-breakpoint: 720px;
$wide-layout-breakpoint: 900px;
