// Fonts
$base-font-family: "interface", $font-stack-system;
$heading-font-family: "freight-text-pro", $font-stack-georgia;

// Colors
$dark-gray: #333;
$blue: #3095f5;
$just-right: #f7d1be;

$body-background-color: $just-right;
$action-color: $blue;
$base-font-color: mix($body-background-color, $dark-gray, 10%);

// Breakpoints
$layout-breakpoint: 640px;
