<li class="article" role="article">
  <header class="article__header">
    <h2 class="article__title"><%= article.title %></h2>
    <time class="article__time"><%= article.date.strftime('%b %e, %Y') %></time>
  </header>

  <div class="article__body">
    <%= article.body %>
  </div>
</li>
