<h2 class="section-title">Community</h2>

<ul class="callout-grid">
  <li>
    <h3>
      <a href="https://meetup.com/refreshthetriangle/">Refresh the Triangle</a>
    </h3>
    <p>
      A meetup group that brings together developers, designers, and
      content creators to share big ideas.
    </p>
  </li>
  <li>
    <h3>
      <a href="https://triangledesigners.com">Triangle Designers</a>
    </h3>
    <p>
      A resource for designers in the Triangle to stay connected and find
      prospective career opportunities.
    </p>
  </li>
</ul>
