<svg class="mark" xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 88 88" aria-labelledby="mark-title mark-desc" role="img">
  <title id="mark-title">Logo Mark</title>
  <desc id="mark-desc">The letter "C" in an outlined circle, with a green circle offset.</desc>
  <circle fill="#B8D9A4" cx="48" cy="48" r="40"></circle>
  <path d="M42.064,57.576 C48.544,57.576 52.384,55.272 55.84,51.576 L51.136,46.824 C48.496,49.224 46.144,50.76 42.304,50.76 C36.544,50.76 32.56,45.96 32.56,40.2 L32.56,40.104 C32.56,34.344 36.64,29.64 42.304,29.64 C45.664,29.64 48.304,31.08 50.896,33.432 L55.6,28.008 C52.48,24.936 48.688,22.824 42.352,22.824 C32.032,22.824 24.832,30.648 24.832,40.2 L24.832,40.296 C24.832,49.944 32.176,57.576 42.064,57.576 Z" fill="currentColor"></path>
  <circle stroke="currentColor" stroke-width="4" cx="40" cy="40" r="38" fill="none"></circle>
</svg>
