<header class="page-header">
  <h1>Hey, I'm Christian.</h1>
  <p>
    I'm a digital product designer in Raleigh, NC. Currently, I’m the lead
    product designer at <a href="https://iterable.com">Iterable</a>, where we
    enable growth marketing practioners to build relationships with their
    customers. Previously, I was the design director at
    <a href="https://thoughtbot.com">thoughtbot</a>’s Raleigh office.
  </p>
</header>
