<header class="page-header">
  <h1>Hey, I'm Christian.</h1>
  <p>
    I'm a digital product designer in Raleigh, NC.
    Currently, I’m the design director at
    <a href="https://thoughtbot.com">thoughtbot</a>’s
    Raleigh office, where we build custom web and mobile applications for our
    clients around the Southeast.
  </p>
</header>
