<h2 class="section-title">Projects</h2>

<ul class="callout-grid">
  <li>
    <h3>
      <%= link_to "Pickup", "/projects/pickup" %>
    </h3>
    <p>
      Pickup helps school administrators handle the chaos of carpooling and keep
      their students safe.
    </p>
  </li>
  <li>
    <h3>
      <%= link_to "Quicky Forecast", "/projects/quicky-forecast" %>
    </h3>
    <p>
      Painless sales forecasting to accurately track opportunities, without
      getting in the way.
    </p>
  </li>
  <li>
    <h3>
      <%= link_to "Joydrive", "/projects/joydrive" %>
    </h3>
    <p>
      Buy a new or pre-owned car from your couch. Hassle-free prices, home
      delivery, and a 5-day return period.
    </p>
  </li>
  <li>
    <h3>
      <%= link_to "Miscellaneous Projects", "/projects/miscellaneous" %>
    </h3>
    <p>
      A handful of smaller and side projects I've worked on while at thoughtbot.
    </p>
  </li>
</ul>
