<h2 class="section-title">Ongoing Projects</h2>

<ul class="projects">
  <li class="project">
    <h3>
      <a href="http://refills.bourbon.io">Refills</a>
    </h3>
    <p>
      A library of accessible and semantic patterns and components built with
      <a href="http://bourbon.io">Bourbon</a>
      and
      <a href="http://bitters.bourbon.io">Bitters</a>.
    </p>
  </li>
  <li class="project">
    <h3>
      <a href="http://refreshthetriangle.co">Refresh the Triangle</a>
    </h3>
    <p>
      A meetup group that brings together developers, designers, and
      content creators to share big ideas.
    </p>
  </li>
  <li class="project">
    <h3>
      <a href="https://triangledesigners.com">Triangle Designers</a>
    </h3>
    <p>
      A resource for designers in the Triangle to stay connected and find
      prospective career opportunities.
    </p>
  </li>
  <li class="project">
    <h3>
      <a href="https://www.theironyard.com">TIY Advisory Board</a>
    </h3>
    <p>
      An immersive program that prepares students for careers as
      software developers and designers.
    </p>
  </li>
</ul>
