<div class="site-header">
  <%= partial "mark" %>
  <h1 class="site-header__title">
    <%= yield_content :page_title or current_page.data.title %>
  </h1>
  <nav class="site-nav">
    <ul class="site-nav__list">
      <li class="site-nav__item">
        <%= current_link_to "Home", "/", class: "site-nav__link" %>
      </li>
      <li class="site-nav__item">
        <%= current_link_to "Blog", "/blog/", class: "site-nav__link" %>
      </li>
    </ul>
  </nav>
</div>
