<div class="container">
  <h2>Connect Four Champion</h2>
  <h1>Christian Reuter is a digitial product designer in Raleigh, NC</h1>
  <p>Hi.</p>
  <p>
    I’m Christian, a product designer, front-end developer, and UX guy.  I’m the
    design director at
    <a href="#">thoughtbot</a>’s
    Raleigh office, where we build custom web and mobile products for our
    clients around the Southeast.
  </p>
  <p>
    I’m a co-organizer of
    <a href="#">Refresh the Triangle</a>,
    which aims to bring together developers, designers, and content creators to
    share big ideas about how to improve at our craft.
  </p>
  <p>
    I also maintain
    <a href="#">Refills</a>,
    a library of accessible patterns hand components made with
    <a href="#">Bourbon</a>,
    and maintain
    <a href="#">Raleigh Design</a>,
    a resource to help designers in Raleigh get connected.
  </p>
  <p>
    Designing and building good products for good people makes me happy.
  </p>
  <p>
    If you’d like to get in touch, feel free to send me an
    <a href="#">email</a>
    or tweet at me on
    <a href="#">twitter</a>.
  </p>
</div>
