<footer class="site-footer">
  <div class="container">
    <h2 class="section-title">Get in touch</h2>
    <ul>
      <li>
        <a href="mailto:hello@christianreuter.io?subject=Hola">hello@christianreuter.io</a>
      </li>
      <li>
        <a href="https://twitter.com/jchreu">Twitter</a>
      </li>
      <li>
        <a href="https://dribbbble.com/creuter">Dribbble</a>
      </li>
      <li>
        <a href="https://github.com/creuter">GitHub</a>
      </li>
    </ul>
  </div>
</footer>
